In [1]:
import pandas as pd

sp500 = pd.read_csv(
    "https://datahub.io/core/s-and-p-500/r/data.csv",
    index_col="Date",
    parse_dates=["Date"],
)

In [2]:
sp500

,SP500,Dividend,Earnings,Consumer Price Index,Long Interest Rate,Real Price,Real Dividend,Real Earnings,PE10
Date,,,,,,,,,
1871-01-01,4.44,0.26,0.40,12.46,5.32,89.00,5.21,8.02,NaN
1871-02-01,4.50,0.26,0.40,12.84,5.32,87.53,5.06,7.78,NaN
1871-03-01,4.61,0.26,0.40,13.03,5.33,88.36,4.98,7.67,NaN
1871-04-01,4.74,0.26,0.40,12.56,5.33,94.29,5.17,7.96,NaN
1871-05-01,4.86,0.26,0.40,12.27,5.33,98.93,5.29,8.14,NaN
...,...,...,...,...,...,...,...,...,...
2017-12-01,2664.34,48.93,109.88,246.52,2.40,2700.13,49.59,111.36,32.09
2018-01-01,2789.80,49.29,NaN,247.87,2.58,2811.96,49.68,NaN,33.31
2018-02-01,2705.16,49.64,NaN,248.99,2.86,2714.34,49.81,NaN,32.12
2018-03-01,2702.77,50.00,NaN,249.55,2.84,2705.82,50.06,NaN,31.99
2018-04-01,2642.19,NaN,NaN,249.84,2.80,2642.19,NaN,NaN,31.19

In [4]:
values = sp500["SP500"]
values

Date
1871-01-01       4.44
1871-02-01       4.50
1871-03-01       4.61
1871-04-01       4.74
1871-05-01       4.86
               ...
2017-12-01    2664.34
2018-01-01    2789.80
2018-02-01    2705.16
2018-03-01    2702.77
2018-04-01    2642.19
Name: SP500, Length: 1768, dtype: float64

In [14]:
values_numpy = values.to_numpy()
values_numpy

array([   4.44,    4.5 ,    4.61, ..., 2705.16, 2702.77, 2642.19])

In [20]:
import numpy as np
diffs = values_numpy[1:] - values_numpy[:-1]
diffs
diffs = np.concatenate([[np.nan], diffs])
diffs

array([       nan,  6.000e-02,  1.100e-01, ..., -8.464e+01, -2.390e+00,
       -6.058e+01])

In [22]:
sp500["Diff"] = diffs

In [25]:
sp500["Diff_Rel"] = sp500["Diff"] / sp500["SP500"]
sp500

,SP500,Dividend,Earnings,Consumer Price Index,Long Interest Rate,Real Price,Real Dividend,Real Earnings,PE10,Diff,Diff_Rel
Date,,,,,,,,,,,
1871-01-01,4.44,0.26,0.40,12.46,5.32,89.00,5.21,8.02,NaN,NaN,NaN
1871-02-01,4.50,0.26,0.40,12.84,5.32,87.53,5.06,7.78,NaN,0.06,0.013333
1871-03-01,4.61,0.26,0.40,13.03,5.33,88.36,4.98,7.67,NaN,0.11,0.023861
1871-04-01,4.74,0.26,0.40,12.56,5.33,94.29,5.17,7.96,NaN,0.13,0.027426
1871-05-01,4.86,0.26,0.40,12.27,5.33,98.93,5.29,8.14,NaN,0.12,0.024691
...,...,...,...,...,...,...,...,...,...,...,...
2017-12-01,2664.34,48.93,109.88,246.52,2.40,2700.13,49.59,111.36,32.09,70.73,0.026547
2018-01-01,2789.80,49.29,NaN,247.87,2.58,2811.96,49.68,NaN,33.31,125.46,0.044971
2018-02-01,2705.16,49.64,NaN,248.99,2.86,2714.34,49.81,NaN,32.12,-84.64,-0.031288
2018-03-01,2702.77,50.00,NaN,249.55,2.84,2705.82,50.06,NaN,31.99,-2.39,-0.000884
2018-04-01,2642.19,NaN,NaN,249.84,2.80,2642.19,NaN,NaN,31.19,-60.58,-0.022928

In [32]:
sp500["Diff_Rel"].idxmin()

Timestamp('1929-11-01 00:00:00')

In [33]:
sp500["Diff_Rel"].min()

-0.3600583090379009

In [37]:
def classifier(value):
    if value < -0.02:
        return -1
    elif value < 0.02:
        return 0
    else:
        return 1

sp500["Class"] = sp500["Diff_Rel"].apply(classifier)
#df["class"] = df["value"].apply(classifier)

In [38]:
sp500.sample(n=30)

,SP500,Dividend,Earnings,Consumer Price Index,Long Interest Rate,Real Price,Real Dividend,Real Earnings,PE10,Diff,Diff_Rel,Class
Date,,,,,,,,,,,,
1935-06-01,10.12,0.44,0.81,13.70,2.73,184.55,8.02,14.77,12.54,0.37,0.036561,1
1959-11-01,57.23,1.82,3.40,29.40,4.53,486.33,15.49,28.92,18.07,0.23,0.004019,0
1996-04-01,647.17,14.16,34.33,156.30,6.51,1034.46,22.63,54.87,25.42,0.10,0.000155,0
2005-09-01,1225.92,21.47,66.47,198.80,4.20,1540.64,26.98,83.53,25.73,1.65,0.001346,0
1874-08-01,4.47,0.33,0.46,11.80,5.24,94.66,6.99,9.74,NaN,0.01,0.002237,0
1977-03-01,100.60,4.19,10.08,59.50,7.46,422.41,17.59,42.33,10.90,-0.40,-0.003976,0
1992-02-01,412.56,12.28,16.12,138.60,7.34,743.67,22.14,29.06,19.58,-3.52,-0.008532,0
1972-11-01,115.10,3.13,6.33,42.40,6.28,678.21,18.42,37.28,18.34,5.50,0.047785,1
1944-11-01,12.82,0.64,0.92,17.70,2.39,180.95,9.03,12.99,11.48,-0.09,-0.007020,0
2016-07-01,2148.90,44.65,87.64,240.63,1.50,2231.13,46.36,91.00,26.69,65.01,0.030253,1
1888-12-01,5.14,0.23,0.26,8.28,3.47,155.13,6.94,7.85,14.95,-0.10,-0.019455,0
1917-04-01,9.17,0.60,1.45,12.60,4.32,181.82,11.96,28.69,9.64,-0.14,-0.015267,0
1939-08-01,11.54,0.55,0.79,13.80,2.27,208.92,9.96,14.36,15.12,-0.17,-0.014731,0
1968-05-01,97.87,2.98,5.53,34.50,5.87,708.74,21.56,40.02,21.63,2.20,0.022479,1
1880-10-01,5.33,0.25,0.47,9.32,3.78,142.81,6.70,12.64,NaN,0.15,0.028143,1
1973-07-01,105.80,3.24,7.38,44.30,7.13,596.67,18.25,41.64,15.89,1.00,0.009452,0
1961-10-01,68.00,1.98,3.10,30.00,3.92,566.29,16.49,25.79,20.92,0.74,0.010882,0
1970-07-01,75.72,3.18,5.47,39.00,7.46,485.07,20.39,35.02,13.73,0.13,0.001717,0
1884-02-01,5.32,0.33,0.39,9.23,3.61,144.01,8.84,10.42,14.81,0.14,0.026316,1
1989-05-01,313.90,10.19,25.13,123.80,8.86,633.47,20.57,50.72,16.19,11.60,0.036954,1
1923-09-01,8.15,0.53,0.91,17.20,4.16,118.38,7.63,13.18,7.46,0.05,0.006135,0
1932-05-01,5.51,0.69,0.53,13.70,3.56,100.48,12.52,9.60,6.39,-0.77,-0.139746,-1
1986-05-01,238.50,8.07,14.65,108.90,7.71,547.16,18.52,33.60,13.56,0.50,0.002096,0
1908-12-01,9.03,0.40,0.58,9.04,3.77,249.59,11.06,16.03,14.58,0.20,0.022148,1
2007-07-01,1520.71,26.44,82.81,208.30,5.00,1823.95,31.71,99.33,27.41,6.52,0.004287,0
1972-05-01,107.70,3.07,5.92,41.60,6.13,646.81,18.44,35.53,17.66,-1.10,-0.010214,0
1941-02-01,9.89,0.68,1.06,14.10,1.99,175.24,11.99,18.72,13.00,-0.66,-0.066734,-1
2014-11-01,2044.57,39.12,103.53,236.15,2.33,2163.05,41.39,109.53,26.61,107.30,0.052480,1
1893-10-01,4.50,0.25,0.28,7.33,3.71,153.46,8.47,9.49,15.27,0.13,0.028889,1
1993-03-01,450.16,12.48,19.84,143.60,5.98,783.19,21.71,34.52,20.86,8.46,0.018793,0