In [1]:
import pandas as pd

In [2]:
area = pd.Series({'CN': 9.6, 'RU': 17, 'US': 9.8})
population = pd.Series({'CN': 1386, 'RU': 144, 'US': 327})

In [3]:
area

CN     9.6
RU    17.0
US     9.8
dtype: float64

In [4]:
population

CN    1386
RU     144
US     327
dtype: int64

In [6]:
area[0]

9.6

In [7]:
area.dtype

dtype('float64')

In [8]:
countries = pd.DataFrame(
    {"area": area, "population": population}
)

In [11]:
countries

    area  population
CN   9.6        1386
RU  17.0         144
US   9.8         327