In [2]:
import pandas as pd

sp500 = pd.read_csv(
    "https://datahub.io/core/s-and-p-500/r/data.csv",
    index_col="Date",
    parse_dates=["Date"],
)

In [3]:
sp500

,SP500,Dividend,Earnings,Consumer Price Index,Long Interest Rate,Real Price,Real Dividend,Real Earnings,PE10
Date,,,,,,,,,
1871-01-01,4.44,0.26,0.40,12.46,5.32,89.00,5.21,8.02,NaN
1871-02-01,4.50,0.26,0.40,12.84,5.32,87.53,5.06,7.78,NaN
1871-03-01,4.61,0.26,0.40,13.03,5.33,88.36,4.98,7.67,NaN
1871-04-01,4.74,0.26,0.40,12.56,5.33,94.29,5.17,7.96,NaN
1871-05-01,4.86,0.26,0.40,12.27,5.33,98.93,5.29,8.14,NaN
...,...,...,...,...,...,...,...,...,...
2017-12-01,2664.34,48.93,109.88,246.52,2.40,2700.13,49.59,111.36,32.09
2018-01-01,2789.80,49.29,NaN,247.87,2.58,2811.96,49.68,NaN,33.31
2018-02-01,2705.16,49.64,NaN,248.99,2.86,2714.34,49.81,NaN,32.12
2018-03-01,2702.77,50.00,NaN,249.55,2.84,2705.82,50.06,NaN,31.99
2018-04-01,2642.19,NaN,NaN,249.84,2.80,2642.19,NaN,NaN,31.19

In [14]:
dates = pd.date_range(
    sp500.index[0], sp500.index[-1], freq="MS"
)
sp500.index.equals(dates)

True

In [5]:
values = sp500["SP500"]
values

Date
1871-01-01       4.44
1871-02-01       4.50
1871-03-01       4.61
1871-04-01       4.74
1871-05-01       4.86
               ...
2017-12-01    2664.34
2018-01-01    2789.80
2018-02-01    2705.16
2018-03-01    2702.77
2018-04-01    2642.19
Name: SP500, Length: 1768, dtype: float64

In [6]:
values_numpy = values.to_numpy()
values_numpy

array([   4.44,    4.5 ,    4.61, ..., 2705.16, 2702.77, 2642.19])

In [7]:
import numpy as np
diffs = values_numpy[1:] - values_numpy[:-1]
diffs
diffs = np.concatenate([[np.nan], diffs])
diffs

array([       nan,  6.000e-02,  1.100e-01, ..., -8.464e+01, -2.390e+00,
       -6.058e+01])

In [8]:
sp500["Diff"] = diffs

In [9]:
sp500["Diff_Rel"] = sp500["Diff"] / sp500["SP500"]
sp500

,SP500,Dividend,Earnings,Consumer Price Index,Long Interest Rate,Real Price,Real Dividend,Real Earnings,PE10,Diff,Diff_Rel
Date,,,,,,,,,,,
1871-01-01,4.44,0.26,0.40,12.46,5.32,89.00,5.21,8.02,NaN,NaN,NaN
1871-02-01,4.50,0.26,0.40,12.84,5.32,87.53,5.06,7.78,NaN,0.06,0.013333
1871-03-01,4.61,0.26,0.40,13.03,5.33,88.36,4.98,7.67,NaN,0.11,0.023861
1871-04-01,4.74,0.26,0.40,12.56,5.33,94.29,5.17,7.96,NaN,0.13,0.027426
1871-05-01,4.86,0.26,0.40,12.27,5.33,98.93,5.29,8.14,NaN,0.12,0.024691
...,...,...,...,...,...,...,...,...,...,...,...
2017-12-01,2664.34,48.93,109.88,246.52,2.40,2700.13,49.59,111.36,32.09,70.73,0.026547
2018-01-01,2789.80,49.29,NaN,247.87,2.58,2811.96,49.68,NaN,33.31,125.46,0.044971
2018-02-01,2705.16,49.64,NaN,248.99,2.86,2714.34,49.81,NaN,32.12,-84.64,-0.031288
2018-03-01,2702.77,50.00,NaN,249.55,2.84,2705.82,50.06,NaN,31.99,-2.39,-0.000884
2018-04-01,2642.19,NaN,NaN,249.84,2.80,2642.19,NaN,NaN,31.19,-60.58,-0.022928

In [10]:
sp500["Diff_Rel"].idxmin()

Timestamp('1929-11-01 00:00:00')

In [11]:
sp500["Diff_Rel"].min()

-0.3600583090379009

In [12]:
def classifier(value):
    if value < -0.02:
        return -1
    elif value < 0.02:
        return 0
    else:
        return 1

sp500["Class"] = sp500["Diff_Rel"].apply(classifier)
#df["class"] = df["value"].apply(classifier)

In [13]:
sp500.sample(n=30)

,SP500,Dividend,Earnings,Consumer Price Index,Long Interest Rate,Real Price,Real Dividend,Real Earnings,PE10,Diff,Diff_Rel,Class
Date,,,,,,,,,,,,
1971-04-01,103.00,3.11,5.25,40.10,5.83,641.72,19.36,32.73,17.92,3.40,0.033010,1
1928-03-01,18.25,0.79,1.18,17.10,3.38,266.64,11.54,17.20,19.94,0.93,0.050959,1
1976-12-01,104.70,4.05,9.91,58.20,6.87,449.45,17.39,42.54,11.60,3.50,0.033429,1
1972-02-01,105.20,3.07,5.77,41.30,6.08,636.38,18.57,34.92,17.46,1.90,0.018061,0
1945-05-01,14.82,0.65,0.99,17.90,2.31,206.85,9.07,13.77,13.04,0.54,0.036437,1
1935-02-01,8.98,0.45,0.65,13.70,2.78,163.76,8.21,11.85,11.09,-0.28,-0.031180,-1
1985-04-01,180.60,7.69,16.13,106.90,11.43,422.08,17.96,37.70,10.40,1.20,0.006645,0
1985-05-01,184.90,7.71,15.87,107.30,10.85,430.52,17.96,36.95,10.61,4.30,0.023256,1
1893-04-01,5.31,0.24,0.33,7.71,3.74,172.14,7.89,10.80,17.10,0.00,0.000000,0
1962-03-01,70.29,2.04,3.37,30.10,3.93,583.42,16.93,27.97,21.44,0.07,0.000996,0
1914-05-01,8.17,0.46,0.58,9.90,4.19,206.18,11.48,14.74,11.48,0.05,0.006120,0
1887-12-01,5.27,0.25,0.36,8.28,3.66,159.06,7.55,10.87,15.46,-0.03,-0.005693,0
1982-12-01,139.40,6.87,12.64,97.60,10.54,356.83,17.59,32.36,8.47,1.30,0.009326,0
1932-12-01,6.82,0.50,0.41,13.10,3.34,130.07,9.54,7.82,8.26,-0.23,-0.033724,-1
1957-11-01,40.35,1.78,3.40,28.40,3.72,354.96,15.66,29.94,13.74,-0.89,-0.022057,-1
1998-10-01,1032.47,16.17,37.96,164.00,4.53,1572.85,24.63,57.83,33.77,11.83,0.011458,0
2003-03-01,846.63,16.22,30.32,184.20,3.81,1148.31,22.00,41.12,21.31,9.60,0.011339,0
2006-10-01,1363.38,24.36,79.55,201.80,4.73,1687.91,30.16,98.49,26.54,45.64,0.033476,1
1976-11-01,101.20,3.98,9.79,58.00,7.29,435.92,17.16,42.17,11.25,-0.70,-0.006917,0
1945-02-01,13.94,0.65,0.95,17.80,2.35,195.66,9.08,13.33,12.34,0.45,0.032281,1
1992-07-01,415.05,12.34,17.38,140.50,6.84,738.04,21.95,30.90,19.62,6.78,0.016335,0
1954-02-01,26.02,1.46,2.54,26.90,2.47,241.66,13.59,23.56,12.22,0.56,0.021522,1
2009-04-01,848.15,26.70,7.08,213.24,2.93,993.71,31.29,8.29,14.98,91.02,0.107316,1
1935-03-01,8.41,0.45,0.73,13.70,2.77,153.37,8.21,13.31,10.40,-0.57,-0.067776,-1
1981-07-01,129.10,6.43,15.10,91.60,14.28,352.12,17.55,41.18,8.45,-3.20,-0.024787,-1
1874-12-01,4.54,0.33,0.46,11.51,5.10,98.52,7.16,9.98,NaN,-0.03,-0.006608,0
1875-02-01,4.53,0.33,0.44,11.51,5.03,98.31,7.05,9.62,NaN,-0.01,-0.002208,0
1963-06-01,70.11,2.20,3.84,30.60,3.99,572.42,17.96,31.35,20.38,-0.03,-0.000428,0
1966-01-01,93.32,2.74,5.24,31.80,4.61,733.17,21.53,41.17,24.06,1.59,0.017038,0
1977-02-01,101.00,4.14,10.02,59.10,7.39,426.96,17.52,42.37,11.01,-2.80,-0.027723,-1