In [1]:
import pandas as pd

In [2]:
sp500_no_index = pd.read_csv(
    "https://datahub.io/core/s-and-p-500/r/data.csv",
    parse_dates=["Date"],
)
euribor_no_index = pd.read_csv(
    "https://datahub.io/core/euribor/r/euribor-12m-monthly.csv",
    parse_dates=["date"],
    usecols=["date", "rate"]
)

pd.merge(sp500_no_index, euribor_no_index, left_on="Date",
         right_on="date")

,Date,SP500,Dividend,Earnings,Consumer Price Index,Long Interest Rate,Real Price,Real Dividend,Real Earnings,PE10,date,rate
0,1999-01-01,1248.77,16.28,37.93,164.30,4.72,1898.89,24.76,57.68,40.58,1999-01-01,3.213
1,1999-02-01,1246.58,16.37,38.16,164.50,5.00,1893.25,24.86,57.95,40.40,1999-02-01,2.998
2,1999-03-01,1281.66,16.45,38.38,165.00,5.23,1940.63,24.91,58.11,41.36,1999-03-01,3.079
3,1999-04-01,1334.76,16.45,39.26,166.20,5.18,2006.44,24.73,59.02,42.70,1999-04-01,2.939
4,1999-06-01,1322.55,16.45,41.02,166.20,5.90,1988.09,24.73,61.66,42.18,1999-06-01,2.735
...,...,...,...,...,...,...,...,...,...,...,...,...
128,2016-09-01,2157.69,45.03,89.09,241.43,1.63,2232.83,46.60,92.19,26.73,2016-09-01,-0.051
129,2016-11-01,2164.99,45.48,92.73,241.35,2.14,2241.08,47.07,95.99,26.85,2016-11-01,-0.069
130,2016-12-01,2246.63,45.70,94.55,241.43,2.49,2324.83,47.29,97.84,27.87,2016-12-01,-0.079
131,2017-02-01,2329.91,46.15,98.38,243.60,2.42,2389.52,47.33,100.89,28.66,2017-02-01,-0.103
132,2017-03-01,2366.82,46.38,100.29,243.80,2.48,2425.40,47.53,102.77,29.09,2017-03-01,-0.114